<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Welcome To PRAVK Hotel</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

    <style>
   body {
       background: url(https://s-media-cache-ak0.pinimg.com/originals/8c/a1/dd/8ca1dd668567c0d3e81a8f54cb2b767d.png) no-repeat center center fixed;
  -    webkit-background-size: cover;
       background-size: cover;
        }
     h1 {
        color:Black ;
        }
     h3{
	color:Black;
	}
</style>
  </head>
  <!-- NAVBAR
================================================== -->
  <body>
  <div class="body">
  <div class="container">
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/hotelapp/">Home </a></li>
                <li><a href="/hotelapp/about/">About</a></li>
                <li><a href="/hotelapp/contact/">Contact</a></li>
                <li><a href="/hotelapp/order/">Order</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facilities <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/hotelapp/food/">Food</a></li>
                    <li><a href="/hotelapp/starters/">Starters</a></li>
                    <li><a href="/hotelapp/rooms/">Rooms</a></li>
                  </ul>
                </li>
                <li><a href="/hotelapp/login/">Login</a></li>
                <li><a href="/hotelapp/signin/">Sign-Up</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      </div>
</div>
</div>
  {% block container %}

    {% endblock container %}
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
